In [ ]:
#hide
%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False  # workaround for buggy jedi

# Additional tests

In [ ]:
#hide
from nbdev.showdoc import *
from sql_formatter.utils import *
from sql_formatter.core import *

## core

### format_where

In [ ]:
assert_and_print(
    format_where(
        "WHERE brand = 'my_brand'"
    ), "WHERE  brand = 'my_brand'"
)

WHERE  brand = 'my_brand'

### format_sql

In [ ]:
assert_and_print(
    format_sql("SELECT brand FROM table WHERE brand = 'my_brand'"),
"""
SELECT brand
FROM   table
WHERE  brand = 'my_brand'
""".strip()
)

SELECT brand
FROM   table
WHERE  brand = 'my_brand'

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()